.navbar {
  background-color: #212425;
  color: whitesmoke;
  border-bottom: 1px outset rgb(143, 143, 143);
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  padding-top: 17px;
  padding-left: 10px;
  width: 50px;
  height: 50px;
}

.navbar div {
  display: flex;
  justify-content: space-evenly;
}

.navbar h1:hover {
  color: whitesmoke;
  text-decoration: underline;
}

.navbar h1:active {
  color: whitesmoke;
  text-decoration: underline;
}

.navbar h1 {
  padding-left: 10px;
  border: none;
  outline: none;
  color: whitesmoke;
  text-decoration: underline;
}

#toggle {
  cursor: pointer;
  padding-top: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: rgba(245, 245, 245, 0);
}

#clickable {
  cursor: pointer;
}
